<h2>Add Post</h2>

<div class="dialog-content">
  <form [formGroup]="postForm">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" name="title" required>
        <mat-error *ngIf="postForm.get('title')?.errors?.['required']">Title is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Content</mat-label>
        <textarea matInput placeholder="Content" formControlName="content" name="content" required></textarea>
        <mat-error *ngIf="postForm.get('content')?.errors?.['required']">Content is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-raised-button color="warn" (click)="close()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
