.hide-other-components {
  display: none;
}

.thread-details {
  margin: 16px 120px;
  background-color: #c9c9c9;
}

.thread-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thread-author {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 10px;
}

.back-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 120px;
}

.go-back-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}


.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 120px;
}

.back-button {
  margin-right: 8px;
}

.add-post-button {
  margin-left: auto;
  margin-right: 120px;
}

.no-posts-card {
  margin: 16px 120px;
}


.post-card {
  margin: 16px 120px;
}
