<mat-toolbar color="primary">
  <div class="left-section">
    <span class="title">binary_banter</span>
  </div>
  <div class="right-section">
    <ng-container *ngIf="!isLoggedIn; else loginSection">
      <button mat-raised-button (click)="openLoginDialog()">Login</button>
    </ng-container>
    <ng-template #loginSection>
      <ng-container *ngIf="isLoggedIn">
        <div *ngIf="(username$ | async) as username" class="welcome-container">
          <p class="greeting">Hello, {{ username }}!</p>
        </div>
        <button mat-raised-button (click)="logout()">Logout</button>
      </ng-container>
    </ng-template>
  </div>
</mat-toolbar>

<div class="add-thread-button-container" *ngIf="isLoggedIn">
  <button mat-raised-button color="primary" class="add-thread-button" (click)="openAddThreadDialog()">Add Thread</button>
</div>

<app-thread-container></app-thread-container>
