.thread-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.no-threads-message {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.spacer {
  margin: 16px; /* Adjust the value to your desired spacing */
}

.thread-meta {
  display: flex;
  align-items: center;
  margin: 16px;
}

.thread-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thread-author {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.54); /* Set the color to a dimmer shade */
  margin-left: 10px;
}

.thread-title-author {
  display: flex;
  align-items: center;
}

.thread-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thread-meta-icon {
  margin-right: 5px;
}
