<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <mat-form-field class="new-password-field">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="New Password" required>
    </mat-form-field>
    <mat-form-field class="confirm-password-field">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password" required>
      <mat-error *ngIf="changePasswordForm.hasError('mismatch')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="buttons">
  <button mat-button mat-dialog-close color="primary">Cancel</button>
  <button mat-raised-button color="warn" [disabled]="changePasswordForm.invalid" (click)="submit()">Submit</button>
</mat-dialog-actions>
