.dialog-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 32px;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.button-container {
  margin-top: 16px;
  text-align: center;
}

.name-text-field {
  width: 100%;
}

.description-text-field {
  width: 100%;
}

.buttons {
  margin: 16px
}
