<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content class="dialog-content">
  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="user@example.com" [formControlName]="'email'" required>
      <mat-error *ngIf="loginForm.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput type="password" placeholder="Password" [formControlName]="'password'" required>
      <mat-error *ngIf="loginForm.controls['password'].invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" (click)="submitForm()">Submit</button>
    </div>
  </form>
</div>
