.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: 16px;
  text-align: center;
}

.username-field {
  width: 100%;
}

.email-field {
  width: 100%;
}

.password-field {
  width: 100%;
}
