<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Patrimonies</title>
</head>
<body>
    <% if (patrimonies.length == 0) { %>

        <h1>No Patrimonies..</h1><br>
        <a href="/patrimonies/submitPatrimony">Submit patrimony</a>

    <% }else{ %>

        <h1>Patrimony Collection</h1>

        <% patrimonies.forEach(function(patrimony){ %>
            <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="f_name" value="<%= patrimony.name%>">
                <a href="/patrimonies/showPatrimony/<%= patrimony.name %>">View Details</a>
                <a href="/patrimonies/deletePatrimony/<%= patrimony.name %>">Delete</a>
            </p>
        <% }) %>

    <% } %>
</body>
</html>