<h2 mat-dialog-title>Edit Post</h2>
<mat-dialog-content>
  <form [formGroup]="editPostForm">
    <mat-form-field class="title-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Title" required>
    </mat-form-field>
    <mat-form-field class="content-field">
      <mat-label>Content</mat-label>
      <input matInput formControlName="content" placeholder="Content" required>
    </mat-form-field>
    <mat-form-field class="tags-chip-list" [class.error]="tagCtrl.invalid && tagCtrl.touched && tags.length === 0">
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipGrid aria-label="Tag selection">
        <mat-chip-row *ngFor="let tag of tags" (removed)="removeChip(tag)">
          {{tag}}
          <button matChipRemove [attr.aria-label]="'remove ' + tag">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input placeholder="New tag..." #tagInput [formControl]="tagCtrl" [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addChip($event)" required/>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="tagCtrl.invalid && tagCtrl.touched && tags.length === 0">
        At least one tag is required.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="buttons">
  <button mat-button mat-dialog-close color="primary">Cancel</button>
  <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
